<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.obd2linkbackend.passkey.mapper.AuthChallengeMapper">

    <!-- チャレンジ登録　-->
    <insert id="insertChallenge" useGeneratedKeys="true" keyProperty="id" keyColumn="id">
        INSERT INTO
            auth_challenges (
                user_id
                , challenge
                , purpose
                , registration_data
                , expires_at
            )
            VALUES (
                #{userId}
                , #{challenge}
                , #{purpose}
                , #{registrationData}
                , #{expiresAt}
            )
    </insert>

</mapper>