<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.globelink.user.mapper.UserMapper">

    <!-- 1件取得 -->
    <select id="getUser" resultType="com.example.globelink.user.dto.UserReqDto">
        SELECT
            id
            , email
            , display_name AS displayName
            , created_at AS createdAt
        FROM users
        WHERE id = #{id}
    </select>

    <!-- ユーザー登録　-->
    <insert id="registerUser">
        INSERT INTO
            users (
                email
                , display_name
            )
            VALUES (
                #{email}
                , #{displayName}
            )
    </insert>

</mapper>